* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: white;
    font-family: "Poppins", sans-serif;
}
a {
    color: currentColor;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
header nav {
    width: 100%;
    padding: 8px 15px;
    box-shadow: 0.001px 0.001px 2.5px rgba(0, 0, 0, .95);
    display: grid;
    align-items: center;
    background: blue;
    position: fixed;
    top: 0;
    opacity: .8;
    z-index: 10000;
}
header nav div {
    position: absolute;
    right: 20px;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav button {
    background: white;
    padding: 3px 15px;
    border: none;
    border-radius: 10px;
    color: black;
    margin: 0px 10px;
    font-weight: bold;
}
header nav span, footer h3:first-child {
    font-family: "Playwrite AR", cursive;
    color: white;
}
header nav i {
    color: white;
}
menu {
    background: inherit;
    padding: 20px;
}
button:hover, i:hover {
    cursor: pointer;
}
.caption {
    margin: 85px 0px 20px 0px;
    display: grid;
    justify-content: center;
}
.t-center {
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.bold-text {
    font-weight: bold;
    margin: 15px;
}
header div h1 {
    color: blue;
    font-family: "Kanit", sans-serif;
    text-align: center;
    margin-top: 15px;
}
header img {
    width: 85%;
    margin-top: 5px;
    margin-bottom: 25px;
}
.display-center {
    display: flex;
    justify-content: center;
}
.hero-btn-1, .hero-btn-2 {
    border: none;
    padding: 7px 20px;
    margin: 15px 5px;
    font-weight: bold;
    border-radius: 5px;
}
.hero-btn-1 {
    background: blue;
    color: white;
}
section {
    background: rgb(240, 240, 240);
    text-align: center;
    padding: 20px;
    margin-block: 30px;
}
section h2 {
    color: blue;
    font-family: "Kanit", sans-serif;
    margin-block: 10px;
}
.company-vals {
    display: grid;
    grid-template-columns: auto;
    text-align: left;
    margin-top: 35px;
}
.flexy {
    display: flex;
    margin-block: 20px;
}
.flexy div {
    margin-left: 20px;
}
.flexy img {
    width: 90px;
    height: 90px;
    margin-inline: 20px;
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
}
.margin-topper {
    margin-top: 60px;
}
.menu {
    margin-block: 10px;
    border-radius: 10px;
    padding: 15px;
    line-height: 2em;
    background-color: rgb(240, 240, 240);
    opacity: .1;
    position: absolute;
    right: 0;
    top: 60px;
    width: 50%;
    visibility: hidden;
    transition: all .2s ease-in-out;
    position: fixed;
    z-index: 100000;
}
.show-menu {
    visibility: visible;
    right: 1;
    opacity: .99;
    width: 90%;
}
.close-menu {
    visibility: hidden;
    right: 0;
    opacity: .1;
}
.menu button {
    border: none;
    padding: 5px 20px;
    margin-block: 15px;
    font-weight: bold;
    border-radius: 5px;
    background: blue;
    color: white;
}
.menu button:last-child {
    background: none;
    color: black;
    border: 1px solid blue;
}
.to-top {
    background: blue;
    color: white;
    position: fixed;
    bottom: 30px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 20px;
    display: none;
}
.to-top img {
    width: 100%;
}
footer {
    background: blue;
    color: white;
    padding: 25px 15px;
    margin-block-start: 70px;
}
.contact-h3 {
    margin-top: 20px;
}
.rights {
    margin-top: 30px;
    text-align: center;
}
.pin {
    width: 20px;
    position: absolute;
    right: 20px;
}
.pc-hero-img {
    display: none;
}
.pc-menu {
    display: none;
}
.gallery {
    display: grid;
    align-items: center;
    margin-block: 40px;
    padding: 25px 35px;
}
.gallery div:first-child {
    display: flex;
    justify-content: flex-start;
}
.gallery div:last-child {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.gallery img {
    border-radius: 10px;
    margin: 15px;
}
.bigger {
    width: 40%;
}
.smaller {
    width: 30%;
    height: 200px;
    margin-top: 60px;
}
#down {
    margin-top: 70px;
}

@media screen and (min-width: 900px) {
    .hero-img {
        display: none;
    }
    aside {
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 300px;
        margin-top: 10px;
    }
    aside h1 {
        font-size: 2rem;
    }
    .pc-hero-img {
        width: 70%;
        display: block;
        margin-top: 80px;
        margin-left: 100px;
    }
    .pc-hero-1 {
        margin-left: -200px;
        margin-top: 60px;
    }
    .texts {
        margin-top: -20px;
    }
    .hero-btn-1, .hero-btn-2 {
    border: none;
    padding: 10px 30px;
    margin: 15px 5px;
    font-weight: bold;
    border-radius: 5px;
    }
    .company-vals {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        margin-top: 50px;
    }
    .pc-menu {
        display: flex;
        margin-right: 200px;
        color: white;
    }
    .pc-menu a {
        margin-inline: 5px;
    }
    .pc-menu a:hover {
        color: rgb(240, 240, 240);
    }
    .pc-hide {
        display: none;
    }
    .pc-btn {
        margin-right: 100px;
        margin-top: 1px;
    }
    nav span {
        margin-left: 70px;
    }
    #about {
        padding-inline: 70px;
        padding-bottom: 30px;
        margin-right: 130px;
    }
    #about h2 {
        margin-bottom: 20px;
    }
    .menu {
        display: none;
    }
    .pc-flex {
        display: flex;
        justify-content: center;
    }
    .pc-flex section {
        order: 2;
        height: 310px;
        margin-right: 50px;
        margin-top: 150px;
    }
    .pin:first-child {
        right: 150px;
    }
    .pc-flex div {
        order: 1;
    }
    #down {
        margin-top: 200px;
    }
    .gallery div:first-child {
        display: flex;
        justify-content: flex-start;
        margin-left: 100px;
    }
    .gallery div:last-child {
        display: flex;
        justify-content: flex-end;
        margin-right: 10px;
    }
}