* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: white;
    font-family: sans-serif;
}
header nav {
    width: 100%;
    padding: 8px 15px;
    box-shadow: 0.001px 0.001px 2.5px rgba(0, 0, 0, .95);
}
header nav div {
    position: absolute;
    right: 20px;
    top: 15px;
    display: flex;
}
header nav button {
    background: blue;
    padding: 3px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 0px 10px;
    font-weight: bold;
}
header nav i {
    margin-top: 2px;
}
header nav span {
    font-family: "Playwrite AR", cursive;
    color: blue;
}
.caption {
    margin: 30px;
    display: grid;
    justify-content: center;
}
.t-center {
    text-align: center;
    font-family: "Poppins", sans-serif;
}
header div h2 {
    color: blue;
    font-family: "Kanit", sans-serif;
}
header img {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 25px;
}
.display-center {
    display: flex;
    justify-content: center;
}
.hero-btn-1, .hero-btn-2 {
    border: none;
    padding: 5px 20px;
    margin: 15px 5px;
    font-weight: bold;
    border-radius: 5px;
}
.hero-btn-1 {
    /* background: rgb(240, 240, 240); */
    background: blue;
    color: white;
}